<title>Cadastro</title>
<h1>Cadastro de Hamburguers</h1>
<form action="/hamburguers/cadastro" method="post" class="form" enctype="multipart/form-data">
    <div class="form-control">
        <label for="imagem">Imagem</label>
        <input type="file" name="image" placeholder="Imagem do Lanche">
    </div>
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="digite o nome do hamburguer">
    </div>
    <div class="form-control">
        <label for="price">Preço:</label>
        <input type="number" name="price" placeholder="digite o preço do hamburguer">
    </div>
    <div class="form-control">
        <label for="description">Descrição</label>
        <input type="text" name="description" placeholder="descrição do hamburguer">
    </div>
    <input type="submit" value="cadastrar">
</form>