body{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    background-color:  #fca311;
    padding: 2px;
    margin-bottom: -20px;
}

header img{
    width: 60px;
    margin-bottom: -40px;
    padding-left: 350px;
    position: relative;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a{
    color: white;
    text-decoration: none;
    margin-top: -20px;
}

a:hover{
    color: black;
}

section img{
    width: 100%;
}

main{
    background-color: rgb(180, 49, 49);
}

section h1{
    text-align: center;
    color: white;
}

.hamburguer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.Hamburguer-Vegas{
    background-color: #fff;
    border-radius: 8px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 10px;
    text-align: center;
}

.Hamburguer-JunkFood{
    background-color: #fff;
    border-radius: 8px;
    width: 250px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 16px;
    text-align: center;
}

.Cheeseburguer-de-bacon{
    background-color: #fff;
    border-radius: 8px;
    width: 200px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 16px;
    text-align: center;
}

.hamburguer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.hamburguer-grid article {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 200px;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.Whopper{
    background-color: #fff;
    border-radius: 8px;
    width: 250px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 16px;
    text-align: center;
}

.Hamburguer-Vegas{
    background-color: #fff;
    border-radius: 8px;
    width: 250px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 16px;
    text-align: center;
}

.Sanduiche-de-Frango{
    background-color: #fff;
    border-radius: 8px;
    width: 250px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 16px;
    text-align: center;
}

.Vegetariano{
    background-color: #fff;
    border-radius: 8px;
    width: 259px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 16px;
    text-align: center;
}

.Tres-Patty{
    background-color: #fff;
    border-radius: 8px;
    width: 250px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 16px;
    text-align: center;
}

.Presunto-e-queijo{
    background-color: #fff;
    border-radius: 8px;
    width: 250px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 16px;
    text-align: center;
}

.categorias {
    background-color:rgb(180, 49, 49); 
    padding: 40px 0;
    text-align: center;
}

.categorias h1{
    color: white;
    font-size: 28px;
    margin-top: -30px;
    margin-bottom: 30px;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.categorias-container a{
    display: inline-block;
    background-color: #ff8800;
    padding: 10px;
    border-radius: 12px;
    transition: transform 0.3s;
}

.categorias-container a:hover{
    transform: scale(1.05);
}

.categorias-container img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.pedido-whatsapp h2{
    color: rgb(180, 49, 49);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: -1px;
}

.pedido-whatsapp p{
    color: rgb(180, 49, 49);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: -1px;
    margin-left: 490px;
}

.pedido-whatsapp button{
    background-color: rgb(180, 49, 49);
    color: #fff;
    display: block;
    border-radius: 12px;
    margin-top: -10px;
    margin-left: 1120px;
}

.pedido-whatsapp img{
    width: 100px;
    height: 100px;
    margin-top: -55px;
    padding-left: 400px;
}

footer{
    background-color: #fca311;
}

footer p{
    color: rgb(180, 49, 49);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

footer .redes-sociais{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

footer img {
    width: 20px;
    height: 20px;
}