<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <title>Hamburguer Mania</title>
</head>
<body>
<header>
<img src="imagens/logo-tipo.png" alt="logo tipo hamburguer mania">
    <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/hamburguers">Nosso Cardapio</a></li>
            <li><a href="/cadastro">Cadastrar</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </nav>
</header>

    {{{body}}}


<section class="pedido-whatsapp">
        <h2>FAÇA SEU PEDIDO PELO WHATSAPP</h2>
        <p>DISK DELIVERY</p>
        <button>FAÇA O SEU PEDIDO</button>
        <img src="imagens/motoboy.png">
</section>

<footer>
    <p>SIGA-NOS</p>
    <div class="redes-sociais">
        <a href=""><img src="imagens/facebook.webp"alt="Facebook"> </a>      
        <a href=""><img src="imagens/instagram.png" alt="Instagram"></a>
        <a href=""><img src="imagens/tiktok.webp" alt="Tiktok"></a>
    </div>
</footer>

</body>
</html>