<title>Página não encontrada</title>

<div class="page-404">
    <h1>Página não encontrada</h1>
    <p>Ops! A página que você tentou acessar não existe.</p>
    <a href="/">Voltar para a Home</a>
</div>
